
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer id="footer-site">
    <ul class="widget-social">
        <li><a href="https://www.facebook.com/" target="_blank"><i  class="fa fa-facebook" style="font-size:40px;color:lightblue;"></i></a></li>
        <li><a href="https://www.youtube.com/" target="_blank"><i  class="fa fa-youtube" style="font-size:40px;color:lightblue;"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i  class="fa fa-instagram" style="font-size:40px;color:lightblue;"></i></a></li>
    </ul>
    <div>
        <span>&copy; 2020</span>
        <a href="#toppage" target="_blank">Raikhelson</a>
    </div>
</footer>