<form action="" class="menu-box">
    <!-- <h2 class="titular">Update {{company.name}}</h2> -->
    <!-- <label>id</label> -->
    <!-- <input type="text" placeholder="id"  [formControl]="idFormControl" name="id" > -->

    <!-- <label>Name</label> -->
    <input  type="text" placeholder="name" [formControl]="nameFormControl" name="name">

    <!-- <label>image Url</label> -->
    <input class="form" type="text" placeholder="imageURL" [formControl]="imageURLFormControl" name="imageURL">
    <br>
    <button class="up" (click)="UpdateCompany() ">Update</button>
  
</form>
<a class="button"  routerLink="/comp-coup">Back to All Company Coupons</a>