
<div class="side ">
    <ul class="menu">
        <li><a class="list" routerLink="/ad-coup"><i  class="fa fa-ticket" style="font-size:40px;color:rgb(72, 103, 114);;"></i>Coupon setting</a></li>
        <br>
        <li> <a class="list" routerLink="/ad-comp"><i  class="fa fa-building" style="font-size:40px;color:rgb(72, 103, 114);;"></i>Company setting</a></li>
        <br>
        <li>  
            <a class="list" routerLink="/customer"><i  class="fa fa-address-book" style="font-size:40px;color:rgb(72, 103, 114);;"></i>Customer setting</a></li>
        
     
    </ul>
 
</div>