<div *ngIf="coupons" class="dws-wrapper">
    <div class="flex-cont">
      <div *ngFor="let p of coupons"  class="imageBox">
          <img  class="img"   src="{{p.imageURL}}" width=80px;
          height=100px;>
       
          <!-- <app-thumbnail class="img" imageSource="/assets/coupon/{{p.id}}.jpg" 
                  (imageClicked)="showImage($event)"></app-thumbnail>                         -->
           <a class="title" style="cursor: pointer;" routerLink="/coupon-details/{{p.id}}">
                      {{p.title}}
          </a>       
          <a class="desc" style="cursor: pointer;" routerLink="/coupon-details/{{p.id}}">
              {{p.description}}
          </a> 
          <table >
              <tbody class="body">
                  <tr>
                      <td>price:</td>
                      <td>{{p.price}}</td>
                      <td style="text-align: left;">₪</td>
                  </tr>
                  <tr>
                      <td>amount:</td>
                      <td>{{p.amount}}</td>
                      <td style="text-align: left;width: 2px; ">pc.</td>
                  </tr>
                  <tr>
                      <td>category:</td>
                      <td>{{p.category}}</td>
                  </tr>
                  <tr>
                      <td>start_date:</td>
                      <td>{{p.startDate}}</td>
                  </tr>
                  <tr>
                      <td>end_date:</td>
                      <td>{{p.endDate}}</td>
                  </tr>           
                 
              </tbody>
          </table>
      
      </div>



</div>   
<a class="button" routerLink="/coupon">Back to All Coupons</a>