<nav class="dws-menu">
       <a  class="login" title="Login" routerLink="login"><i class="fa fa-sign-in" style="font-size:40px;  color:lightblue;"></i></a>
       <button class="login"  title="Logout" (click)=logout()><i  class="fa fa-sign-out" style="font-size:40px;color:rgb(72, 103, 114);"></i></button>
       
       <div *ngIf="modeService.clientType == '1'">
        <a class="login"  title="My Account" routerLink="my-account"><i  class="fa fa-shopping-cart" style="font-size:40px;color:lightblue;"></i></a>
        <!-- <a class="login" routerLink="search-coupon"><i  class="fa fa-search" style="font-size:40px;color:lightblue;"></i></a> -->
      </div>
      <div *ngIf="modeService.clientType == '2'">
        <a class="login" title="Company Account " routerLink="comp-coup"><i  class="fa fa-cog" style="font-size:40px;color:lightblue;"></i></a>
      </div>
      <div *ngIf="modeService.clientType == '3'">
        <a class="login" title="Admin Account" routerLink="ad-account"><i  class="fa fa-shield" style="font-size:40px;color:lightblue;"></i></a>
      </div>
     
       
       
     
     
   <ul>
       <li><a routerLink="home"><i  class="fa fa-home" style="font-size:40px;color:lightblue;"></i>Home</a></li>
       <li><a routerLink="company"><i class="fa fa-building" style="font-size:40px;color:lightblue;"></i>Company</a> </li>
       <li><a routerLink="coupon"><i  class="fa fa-ticket" style="font-size:40px; color:lightblue;"></i>Coupon</a>
           <ul>
               <li><a href="coupon-cat/1">#</a></li>
               <li><a href="coupon-cat/2">#</a></li>
               <li><a href="coupon-cat/3">#</a></li>  
           </ul>
       </li>

     
      
   </ul>
</nav>