.cus{
    height: 75%;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#627379,#7E878A, #ADD8E6,#7E878A,#627379);
   border-radius: 5px;
}
table {
    width: 500px;
    margin: 40px auto;
    padding: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    text-align: center;
    border-collapse: collapse ;
    background-color: rgb(70,88,94, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);

}
.main {

   background: linear-gradient(lightblue, rgb(30, 84, 102) );
}
.str {
  
    border-bottom: 1px solid rgb(21, 64, 73);
    border-top: 1px solid rgb(21, 64, 73);
    transition: .5s;
}

.str:hover {
    background-color: rgb(54, 115, 136);
    color: white;
}
td {
    font-size: 18px;
    padding: 8px 15px;
   
    color:  rgb(129,162,172);
}

.button {
   
    background-color: rgb(222, 241, 245);
    border: none;
    color: rgb(21, 64, 73) ;
    padding: 5px 5px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    text-decoration: none;
    
  }
  .button:hover {opacity: 1}
  h2{
    margin: 0;
    padding: 0;  
    color: rgb(222, 241, 245);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
}
h1{
    margin: 0;
    padding: 5px;  
    color: #454547;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a{
    color: lightblue;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-decoration: none;
}
.buy{
    position: absolute;
    top: 83%;
    right: 20%;
    padding: 5px 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 24px ;
    /* text */
    color: rgb(21, 64, 73) ;
    background-color: rgb(222, 241, 245);
    border: none;
    display: block;
    transition: .5s;
    overflow: hidden;
 
}
button{
    background: none;
    border: none;
}


.buy::before,
.buy::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(64,81,86,0.3);
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
  
}  
.buy::after{
    opacity: 1;
    transition-delay: .2s;
}

.buy:hover::before,
.buy:hover::after {
    left: 0;
} 

.buy:hover {
    color: rgb(14, 122, 108);
}
.up{
    color: greenyellow;
} 