<div class="root">
    
    <div class="dws-form">
        <form id="form" class="tab-form" action="">
        <h1>Registration</h1>
        <input class="input" type="text" placeholder="email..." [(ngModel)] ="email" name="email">
        <br>
        <input   class="input" type="text" placeholder="password..." [(ngModel)] ="password" name="password">
        <br>
        

        <button (click)="regCompany()">Company</button>
        
        <button (click)="regCustomer()">Customer</button>
    </form>
    <a class="button" style="cursor: pointer;" routerLink="/login">Back to Login</a>


</div>
 
</div>