<h3 class="now">New arrivals coming very soon!</h3>
<div   class="dws-wrapper"> 
    <section class="container-images">
    <div class="img-box">
        <img style="cursor: pointer;" routerLink="/coupon" src="/assets/img/1.jpg" [width]="imageWidth" [height]="imageHeight">
        <span class="bor-left-right"></span>
        <span class="bor-top-bottom"></span>
        <div class="content">
            <a routerLink="/coupon"><h2>The Glass Hotel </h2></a>
            <h3>by Emily St. John Mandel</h3>
            <a><p>Category: Literary Fiction | Crime Mysteries</p></a>
        </div>
    </div>
    <div class="img-box" >
        <img style="cursor: pointer;" routerLink="/coupon" src="/assets/img/2.jpg" [width]="imageWidth" [height]="imageHeight">
        <span class="bor-left-right"></span>  
        <span class="bor-top-bottom"></span>
        <div class="content">
            <a routerLink="/coupon"><h2>Uncanny Valley: A Memoir </h2></a>
            <h3>by Anna Wiener</h3>
            <a ><p>Category: Biography | Autobiographys</p></a>
        </div>
    </div> 
    <div class="img-box" >
        <img style="cursor: pointer;" routerLink="/coupon" src="/assets/img/3.jpg" [width]="imageWidth" [height]="imageHeight">
        <span class="bor-left-right"></span>
        <span class="bor-top-bottom"></span>
        <div class="content">
            <a routerLink="/coupon"><h2>My Dark Vanessa </h2></a>
            <h3>by Kate Elizabeth Russell</h3>
            <a> <p>Category: Psychological</p></a>
        </div>
    </div>
      
    </section>

</div>
