<form action="" class="menu-box">
    <!-- <h2 class="titular">Update {{customer.first_name}}</h2>
    <label>id</label> -->
    <!-- <input class="form" type="text" placeholder="id"  [formControl]="idFormControl" name="id"> -->

  
    <input class="form" type="text" placeholder="firstName" [formControl]="firstNameFormControl" name="firstName">

  
    <input class="form" type="text" placeholder="lastName" [formControl]="lastNameFormControl" name="lastName">

    <button class="up" (click)="UpdateCustomer() ">Update</button>
  
</form>
<a class="button"  routerLink="/my-account">Back to my account</a>