.cus{
    height: 80%;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#627379,#7E878A, #ADD8E6,#7E878A,#627379);
   border-radius: 5px;
}
table {
    width: 1000px;
    margin: 40px auto;
    padding: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    text-align: center;
    border-collapse: collapse ;
    background-color: rgb(70,88,94, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);

}
.main {

   background: linear-gradient(lightblue, rgb(30, 84, 102) );
 

}
.str {
  
    border-bottom: 1px solid rgb(21, 64, 73);
    border-top: 1px solid rgb(21, 64, 73);
    transition: .5s;
}
th {
  
    /*жирность букв в заголовке*/
    font-weight: 550;
    padding: 12px 25px;
    color: lightblue;
    text-transform: uppercase;
    font-size: 20px;
}
.str:hover {
    background-color: rgb(54, 115, 136);
    color: white;
}
td {
    font-size: 17px;
    padding: 10px 10px;
    text-decoration: none;

}

.button {
   
    background-color: rgb(222, 241, 245);
    border: none;
    color: rgb(21, 64, 73) ;
    padding: 5px 12px;
    text-align: center;
    font-size: 10px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    text-decoration: none;
    
  }
  .button:hover {opacity: 1}

h1{
    margin: 0;
    padding: 5px;  
    color: rgb(72, 103, 114);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a{
    color: #454547;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
.con{
    color: greenyellow;
}


button{
    background: none;
    border: none;
}